@page "{name}"
@model Shop.UI.Pages.Product

@{
}

<div>
    <p>@Model.ProductModel.Name</p>
    <p>@Model.ProductModel.Description</p>
    <p>@Model.ProductModel.Value</p>
    <div>
        <form method="post">
            <label>Stock</label>
            <select asp-for="CartViewModel.StockId">
                @foreach (var s in @Model.ProductModel.Stock)
                {
                    <option value="@s.Id">@s.Description</option>
                }
            </select>
            <label>Quantity</label>
            <input asp-for="CartViewModel.Quantity">
            <button type="submit">Submit</button>
        </form>
        @await Component.InvokeAsync("Cart")
    </div>
</div>